PrinterName=FreeFax
Port=631
Services=_ipp._tcp,_universal

TXT_TLS="1.3"
TXT_UUID="84cf3cd1-8765-3418-6a4e-92d13edb77ff"
TXT_pdl="image/urf,image/jpeg"
TXT_URF="W8,CP255,FN3-11-60,IS9,IFU0,MT1-5,OB10,PQ3-4-5,RS203-300,V1.4"
TXT_Fax="T"
TXT_Scan="F"
TXT_Sort="F"
TXT_Bind="F"
TXT_Punch="0"
TXT_Collate="F"
TXT_Copies="T"
TXT_Staple="F"
TXT_Duplex="F"
TXT_Color="F"
TXT_product="(ThiloPrint)"
TXT_priority="0"
TXT_note="FritzBox6591"
TXT_kind="photo,envelope,document"
TXT_adminurl="http://%h.%d:%p/"
TXT_ty="Simulated"
TXT_rfo="ipp/faxout"
TXT_rp="ipp/print/pdf"
TXT_qtotal="1"
TXT_txtvers="1"
